.chakra-ui-light{
  background: #282c34;
}

.App {
  text-align: center;
}

.screen{
  background-color: #282c34;
  background-size: cover;
}

.modal-window{
    margin-top: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle-picker{
  margin: auto !important;
}