
.frame{
    position: relative;
    background-color: #424242;
    text-align: center;
    padding: 20px;
        navbar { 
            display: flex;
            flex-direction: row;
            margin: auto;
            flex-wrap: wrap;
            gap: 200px;
            justify-content: center;
            a{
                color: white;
            }
    }   
  }

.stage{
    background-color: #5b5b5b;
    height: 700px;
    width:1000px;
  }