
.frame{
    position: relative;
    background-color: #424242;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.stage{
    background-color: #5b5b5b;
    height: 700px;
    width:1000px;
}
.frameContainer{
  overflow-y: scroll;
  height: 700px;
  
}
